@page "/EditCatalogMusic/{MusicCatalogId:int}"

@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<PageTitle>Crear Catalogo</PageTitle>

@if (!IsLoading)
{
    <div class="w-full px-10 inline-flex my-5">
        <div class="md:w-2/3 h-full">
            <div class="text-2xl text-center font-semibold my-2.5">
                <h1>Agregar nuevo catálogo</h1>
            </div>
            <hr />
            <CatalogsForMusic SendNewCatalogForMusic="NewCatalogForMusic"></CatalogsForMusic>
            <hr />
            <EditForm EditContext="@_editContextMusicCatalog" OnValidSubmit="@EditCatalogMusics">
                <DataAnnotationsValidator />
                <div class="flex flex-wrap">
                    <div class="w-full md:w-1/2 md:p-5 space-y-5">
                        <div>
                            <label class="block text-sm font-medium text-gray-700">Título</label>
                            <input @bind="EditMusicCatalog.Title" type="text" class="w-full border rounded border-gray-300" />
                            <ValidationMessage For="@(() => EditMusicCatalog.Title)" />
                        </div>
                        <div>
                            <label class="block text-sm font-medium text-gray-700">Artista</label>
                            <select @bind="EditMusicCatalog.ArtistId" class="w-full border rounded border-gray-300">
                                <option value="0">Seleccione una opción</option>
                                @foreach (var artist in Artists)
                                {
                                    <option value="@artist.Id">@artist.Name</option>
                                }
                            </select>
                            <ValidationMessage For="@(() => EditMusicCatalog.ArtistId)" />
                        </div>
                        <div>
                            <label class="block text-sm font-medium text-gray-700">Género</label>
                            <select @bind="EditMusicCatalog.GenreId" class="w-full border rounded border-gray-300">
                                <option value="0">Seleccione una opción</option>
                                @foreach (var genre in Genres)
                                {
                                    <option value="@genre.Id">@genre.Name</option>
                                }
                            </select>
                            <ValidationMessage For="@(() => EditMusicCatalog.GenreId)" />
                        </div>
                        <div>
                            <label class="block text-sm font-medium text-gray-700">Origen</label>
                            <input @bind="EditMusicCatalog.Country" type="text" class="w-full border rounded border-gray-300" />
                            <ValidationMessage For="@(() => EditMusicCatalog.Country)" />
                        </div>
                        <div>
                            <label class="block text-sm font-medium text-gray-700">Formato</label>
                            <select @bind="EditMusicCatalog.FormatId" class="w-full border rounded border-gray-300">
                                <option value="0">Seleccione una opción</option>
                                @foreach (var format in Formats)
                                {
                                    <option value="@format.Id">@format.Name</option>
                                }
                            </select>
                            <ValidationMessage For="@(() => EditMusicCatalog.FormatId)" />
                        </div>
                        <div>
                            <label class="block text-sm font-medium text-gray-700">Presentación</label>
                            <select @bind="EditMusicCatalog.PresentationId" class="w-full border rounded border-gray-300">
                                <option value="0">Seleccione una opción</option>
                                @foreach (var presentation in Presentations)
                                {
                                    <option value="@presentation.Id">@presentation.Name</option>
                                }
                            </select>
                            <ValidationMessage For="@(() => EditMusicCatalog.PresentationId)" />
                        </div>                     
                    </div>
                    <div class="w-full md:w-1/2 md:p-5 space-y-5">
                        <div>
                            <label class="block text-sm font-medium text-gray-700">Etiqueta</label>
                            <input @bind="EditMusicCatalog.Label" type="text" class="w-full border rounded border-gray-300" />
                            <ValidationMessage For="@(() => EditMusicCatalog.Label)" />
                        </div>
                        <div>
                            <label class="block text-sm font-medium text-gray-700">Año</label>
                            <input @bind="EditMusicCatalog.Year" type="number" class="w-full border rounded border-gray-300" />
                            <ValidationMessage For="@(() => EditMusicCatalog.Year)" />
                        </div>
                        <div>
                            <label class="block text-sm font-medium text-gray-700">Matriz</label>
                            <input @bind="EditMusicCatalog.Matrix" type="text" class="w-full border rounded border-gray-300" />
                            <ValidationMessage For="@(() => EditMusicCatalog.Matrix)" />
                        </div>
                        <div>
                            <label class="block text-sm font-medium text-gray-700">Estado de portada</label>
                            <input @bind="EditMusicCatalog.StatusCover" type="number" class="w-full border rounded border-gray-300" />
                            <ValidationMessage For="@(() => EditMusicCatalog.StatusCover)" />
                        </div>
                        <div>
                            <label class="block text-sm font-medium text-gray-700">Estado del disco</label>
                            <input @bind="EditMusicCatalog.StatusGeneral" type="number" class="w-full border rounded border-gray-300" />
                            <ValidationMessage For="@(() => EditMusicCatalog.StatusGeneral)" />
                        </div>
                        <div>
                            <label class="block text-sm font-medium text-gray-700">Precio</label>
                            <input @bind="EditMusicCatalog.Price" type="number" class="w-full border rounded border-gray-300" />
                        </div>
                        <div>
                            <label class="block text-sm font-medium text-gray-700">Descuento</label>
                            <input @bind="EditMusicCatalog.Discount" type="number" class="w-full border rounded border-gray-300" />
                        </div>
                    </div>

                </div>
                <div class="block space-y-2 mt-3">
                    <button type="submit" class="w-full h-10 border rounded-xl font-semibold text-white bg-yellow-400">Guardar cambios</button>
                </div>
            </EditForm>
        </div>
        <div class="border-1 md:w-1/3 mx-auto">
            <div class="flex place-items-center">
                @if (EditMusicCatalog.Images!.Any())
                {
                    <img src="@EditMusicCatalog.Images?.FirstOrDefault()?.Url" class="w-full sm:64 md:h-96" alt="">
                }
                else
                {
                    <img v-else src="https://rental.servicevision.es/wp-content/uploads/2019/05/default.jpg" class="w-full sm:64 md:h-96" alt="">
                }
            </div>
            <div class="sm:inline-flex w-full">
                <div class="md:w-1/2 border p-5 h-32">
                    @if (EditMusicCatalog.Images?.Count() > 0 || PhotoMusicCatalogBase64.Count() > 0)
                    {
                        <div class="grid grid-cols-3 border">
                            @foreach (var photo in EditMusicCatalog.Images!)
                            {
                                <img class="w-16 h-16" src="@photo.Url" alt="">
                            }
                            @foreach (var photo in PhotoMusicCatalogBase64)
                            {
                                <img class="w-16 h-16" src="@photo" alt="">
                            }
                        </div>
                    }
                </div>
                <div class="flex flex-col md:w-1/2 h-32 sm:w-full relative cursor-pointer mx-auto justify-center items-center border border-gray-600 border-dotted">
                    <InputFile OnChange="@((InputFileChangeEventArgs e) => SaveImage(e, PhotoMusicCatalog, PhotoMusicCatalogBase64!))" multiple class="absolute opacity-0 w-full h-full" />
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 h-10 absolute">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 15.75l5.159-5.159a2.25 2.25 0 013.182 0l5.159 5.159m-1.5-1.5l1.409-1.409a2.25 2.25 0 013.182 0l2.909 2.909m-18 3.75h16.5a1.5 1.5 0 001.5-1.5V6a1.5 1.5 0 00-1.5-1.5H3.75A1.5 1.5 0 002.25 6v12a1.5 1.5 0 001.5 1.5zm10.5-11.25h.008v.008h-.008V8.25zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
                    </svg>
                </div>
            </div>
        </div>
    </div>
}