@page "/CatalogMusicDetail/{IdMusicCatalog:int}"


@if (MusicCatalog is not null)
{

    <div class="inline-flex w-full px-20 mt-3">
        <div>
            <img src="@(MusicCatalog.Images!.FirstOrDefault()?.Url ?? "https://as1.ftcdn.net/v2/jpg/02/35/30/46/1000_F_235304686_Dabv7XmRksedIMrH4ADfMpN21K1nN67R.jpg")" class="w-[45rem] h-[35rem] rounded-lg" alt="">
            <div class="w-full inline-flex px-10 mt-3 space-x-3">
                @foreach (var item in MusicCatalog.Images)
                {
                    <img class="w-24 h-24" src="@item.Url" alt="Imagen del disco">
                }
            </div>
        </div>
        <div class="w-full relative px-10 mr-5">
            <h1 class="text-7xl font-bold mb-12">@MusicCatalog.Artist?.Name-@MusicCatalog.Title</h1>
            <div class=" inline-flex">
                <div class="w-1/2">
                    <p class="text-2xl mb-2">Precio: $@MusicCatalog.Price</p>
                    <p class="text-2xl mb-2">Label: @MusicCatalog.Label</p>
                    <p class="text-2xl mb-4">Pais: @MusicCatalog.Country</p>
                </div>
                <div class="w-1/2">
                    <p class=" text-xl mb-3 font-bold">Descripcion:</p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit. Vestibulum euismod risus quis eleifend consectetur. Pellentesque mollis elit quis tellus
                        Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit. Vestibulum euismod risus quis eleifend consectetur. 
                        Pellentesque mollis elit quis tellusLorem ipsum dolor sit amet, consectetur adipiscing
                        elit. Vestibulum euismod risus quis eleifend consectetur. Pellentesque mollis elit quis tellusLorem ipsum dolor sit amet, consectetur adipiscing
                        elit. Vestibulum euismod risus quis eleifend consectetur. Pellentesque mollis elit quis tellusLorem ipsum dolor sit amet, consectetur adipiscing
                        elit. Vestibulum euismod risus quis eleifend consectetur. Pellentesque mollis elit quis tellusLorem ipsum dolor sit amet, consectetur adipiscing
                        elit. Vestibulum euismod risus quis eleifend consectetur. Pellentesque mollis elit quis tellusLorem ipsum dolor sit amet, consectetur adipiscing
                        elit. Vestibulum euismod risus quis eleifend consectetur. Pellentesque mollis elit quis tellus
                    </p>
                </div>
            </div>
            <div class="absolute bottom-32">
                <p>Cantidad:</p>
                <div class="flex w-full md:w-40 border-2 h-10 mb-4">
                    <button class="w-1/3 h-full bg-gray-200">-</button>
                    <input id="cantidad" class="w-1/3 text-center bg-gray-100" type="text" value="1">
                    <button class="w-1/3 h-full bg-gray-200">+</button>
                </div>
                <div class="flex-col flex space-y-2">                    
                    <button @onclick="AddItemShopCart" class="w-80 mt-3 h-10 border rounded-xl font-semibold text-white bg-blue-600 text-sm">Agregar al carrito</button>
                    <button @onclick="AddItemShopCart" class="w-80 mt-3 h-10 border rounded-xl font-semibold text-white bg-green-600 text-sm">Comprar ahora</button>
                </div>
            </div>

        </div>
    </div>
}

@if (CatalogMusics.Any())
{

    <div class="my-5 mx-5">
        <p class="pl-5 text-2xl font-bold">NOVEDADES</p>
        <hr class="border-gray-300 my-2" />
        <div class="scroll-container">
            <div class="inline-flex space-x-4 px-3">
                @foreach (var item in CatalogMusics)
                {
                    <CardCatalogMusic MusicCatalog="item"></CardCatalogMusic>
                }
            </div>
        </div>
    </div>
}

@if (CatalogMusics.Any())
{

    <div class="my-5 mx-5">
        <p class="pl-5 text-2xl font-bold">NOVEDADES</p>
        <hr class="border-gray-300 my-2" />
        <div class="scroll-container">
            <div class="inline-flex space-x-4 px-3">
                @foreach (var item in CatalogMusics)
                {
                    <CardCatalogMusic MusicCatalog="item"></CardCatalogMusic>
                }
            </div>
        </div>
    </div>
}

@if (CatalogMusics.Any())
{

    <div class="my-5 mx-5">
        <p class="pl-5 text-2xl font-bold">NOVEDADES</p>
        <hr class="border-gray-300 my-2" />
        <div class="scroll-container">
            <div class="inline-flex space-x-4 px-3">
                @foreach (var item in CatalogMusics)
                {
                    <CardCatalogMusic MusicCatalog="item"></CardCatalogMusic>
                }
            </div>
        </div>
    </div>
}