@page "/OrderManage"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization

<div class="w-full px-10 my-5 px-24">
    <h3 class="text-4xl my-5">Administrar Pedidos</h3>
    <table class="min-w-full">
        <thead>
            <tr>
                <th class="px-6 py-3 bg-gray-300 text-left text-xs leading-4 font-medium text-gray-700 uppercase tracking-wider">
                    Cliente
                </th>
                <th class="px-6 py-3 bg-gray-300 text-left text-xs leading-4 font-medium text-gray-700 uppercase tracking-wider">
                    Numero
                </th>
                <th class="px-6 py-3 bg-gray-300 text-left text-xs leading-4 font-medium text-gray-700 uppercase tracking-wider">
                    Articulos
                </th>
                <th class="px-6 py-3 bg-gray-300 text-left text-xs leading-4 font-medium text-gray-700 uppercase tracking-wider">
                    Total
                </th>
                <th class="px-6 py-3 bg-gray-300 text-left text-xs leading-4 font-medium text-gray-700 uppercase tracking-wider">
                    Detalles
                </th>
            </tr>
        </thead>

        <tbody>
            @if (Orders.Any())
            {
                @foreach (var item in Orders)
                {
                    <tr>
                        <td class="px-6 py-4 whitespace-no-wrap">
                            @item.Name
                        </td>
                        <td class="px-6 py-4 whitespace-no-wrap">
                            @item.ShippingAddress.Number
                        </td>
                        <td class="px-6 py-4 whitespace-no-wrap">
                            @(item.AudioCatalogs.Count() + item.CatalogMusics.Count())
                        </td>
                        <td class="px-6 py-4 whitespace-no-wrap">
                            $650
                        </td>
                        <td class="px-6 py-4 whitespace-no-wrap">
                            @if (IdOrderDetail == 0 || IdOrderDetail != item.Id)
                            {
                                <button @onclick="@(() => IdOrderDetail = item.Id)">+</button>
                            }
                            else if (IdOrderDetail == item.Id)
                            {
                                <button @onclick="@(() => IdOrderDetail = 0)">-</button>
                            }
                        </td>
                    </tr>

                    @if (IdOrderDetail == item.Id)
                    {
                        <tr>
                            <td class="px-6 py-4 whitespace-no-wrap border-2 border-r-0 border-l-0 border-b-0 w-full" colspan="5">
                                <div class="inline-flex w-full">
                                    <div class="w-1/2">
                                        @foreach (var itemMusic in item.CatalogMusics)
                                        {
                                            <div class="inline-flex">
                                                <img src="@itemMusic.Images.FirstOrDefault().Url" class="h-24 w-24" />
                                                <div class="ml-10">
                                                    <p>@itemMusic.Title</p>
                                                    <p>$@itemMusic.Price.ToString("#,##0.00") MXN</p>
                                                    <p>@itemMusic.Format.Name</p>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                    <div class="w-1/2">
                                        <p>@item.ShippingAddress.StreetAddres1 Int @item.ShippingAddress.IntNumber</p>
                                        <p>@item.ShippingAddress.StreetAddress2</p>
                                        <p>@item.ShippingAddress.City @item.ShippingAddress.Country @item.ShippingAddress.PostalCode</p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                }
            }
            else
            {
                <tr> Sin Datos </tr>
            }
        </tbody>
    </table>
</div>