@page "/OrderManage"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization

<div class="w-full px-10 my-5 px-24">
    <h3 class="text-4xl my-5">Administrar Pedidos</h3>
    <table class="min-w-full">
        <thead>
            <tr>
                <th class="px-6 py-3 bg-gray-300 text-left text-xs leading-4 font-medium text-gray-700 uppercase tracking-wider">
                    Id
                </th>
                <th class="px-6 py-3 bg-gray-300 text-left text-xs leading-4 font-medium text-gray-700 uppercase tracking-wider">
                    IdUser
                </th>
                <th class="px-6 py-3 bg-gray-300 text-left text-xs leading-4 font-medium text-gray-700 uppercase tracking-wider">
                    Items
                </th>
                <th class="px-6 py-3 bg-gray-300 text-left text-xs leading-4 font-medium text-gray-700 uppercase tracking-wider">
                    Detalles
                </th>
            </tr>
        </thead>

        <tbody>
            @if (Orders.Any())
            {
                @foreach (var item in Orders)
                {
                    <tr>
                        <td class="px-6 py-4 whitespace-no-wrap">
                            @item.Id
                        </td>
                        <td class="px-6 py-4 whitespace-no-wrap">
                            @item.ApplicationUserId
                        </td>
                        <td class="px-6 py-4 whitespace-no-wrap">
                            @(item.CatalogMusics.Count() + item.AudioCatalogs.Count())
                        </td>
                        <td class="px-6 py-4 whitespace-no-wrap">
                            @if (IdOrderDetail == 0 || IdOrderDetail != item.Id)
                            {
                                <button @onclick="@(() => IdOrderDetail = item.Id)">+</button>
                            }
                            else if(IdOrderDetail == item.Id)
                            {
                                <button @onclick="@(() => IdOrderDetail = 0)">-</button>
                            }
                        </td>
                    </tr>

                    @if (IdOrderDetail == item.Id)
                    {
                        <tr>
                            <td class="px-6 py-4 whitespace-no-wrap border border-2 w-full" colspan="4">
                                <div class="inline-flex w-full">
                                    <div class="w-1/2">
                                        <p>@item.Name</p>
                                        <p>@item.ShippingAddress.StreetAddres1</p>
                                        <p>@item.ShippingAddress.StreetAddress2</p>
                                        <p>@item.ShippingAddress.City</p>
                                        <p>@item.ShippingAddress.Country</p>
                                        <p>@item.ShippingAddress.PostalCode</p>
                                    </div>
                                    <div class="w-1/2">
                                        @foreach (var itemCatalog in item.CatalogMusics)
                                        {

                                            <p>@itemCatalog.Title-@itemCatalog.Genre</p>
                                        }
                                        @foreach (var itemAudio in item.AudioCatalogs)
                                        {

                                            <p>@itemAudio.Name-@itemAudio.Brand</p>
                                        }
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                }
            }
            else
            {
                <tr> Sin Datos </tr>
            }
        </tbody>
    </table>
</div>