@page "/CreateCatalogAudio"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<PageTitle>Crear Catalogo Audio</PageTitle>
@if (!IsLoading)
{
    <div class="w-full px-10 inline-flex my-5">
        <div class="md:w-2/3 h-full">
            <div class="text-2xl text-center font-semibold my-2.5">
                <h1>Agregar nuevo catálogo audio</h1>
            </div>
            <hr />
            <EditForm EditContext="@_newContextAudioCatalog" OnValidSubmit="@CreateCataloAudios">
                <DataAnnotationsValidator />
                <div class="flex flex-wrap">
                    <div class="w-full md:w-1/2 md:p-5 space-y-5">
                        <div>
                            <label class="block text-sm font-medium text-gray-700">Nombre</label>
                            <input @bind="NewAudioCatalog.Name" type="text" class="w-full border rounded border-gray-300" />
                            <ValidationMessage For="@(() => NewAudioCatalog.Name)" />
                        </div>
                        <div>
                            <label class="block text-sm font-medium text-gray-700">Marca</label>
                            <input @bind="NewAudioCatalog.Brand" type="text" class="w-full border rounded border-gray-300" />
                            <ValidationMessage For="@(() => NewAudioCatalog.Brand)" />
                        </div>
                        <div>
                            <label class="block text-sm font-medium text-gray-700">Descripcion</label>
                            <input @bind="NewAudioCatalog.Description" type="text" class="w-full border rounded border-gray-300" />
                            <ValidationMessage For="@(() => NewAudioCatalog.Description)" />
                        </div>
                        <div>
                            <label class="block text-sm font-medium text-gray-700">Precio</label>
                            <input @bind="NewAudioCatalog.Price" type="text" class="w-full border rounded border-gray-300" />
                            <ValidationMessage For="@(() => NewAudioCatalog.Price)" />
                        </div>
                    </div>
                    <div class="w-full md:w-1/2 md:p-5 space-y-5">
                        <div>
                            <label class="block text-sm font-medium text-gray-700">Modelo</label>
                            <input @bind="NewAudioCatalog.Model" type="text" class="w-full border rounded border-gray-300" />
                            <ValidationMessage For="@(() => NewAudioCatalog.Model)" />
                        </div>                   
                    </div>
                </div>
                <div class="block space-y-2 mt-3">
                    <button disabled="@(!IsAnyImage)" type="submit" class="w-full h-10 border rounded-xl font-semibold text-white @(IsAnyImage ? "bg-green-600" : "bg-gray-300")">Agregar</button>
                </div>
            </EditForm>
        </div>
        <div class="border-1 md:w-1/3 mx-auto">
            <ImagesManage Type="TypeImageWrapper.Audio" SetIsAnyImage="SetIsAnyImageForCatalog"></ImagesManage>
        </div>
    </div>
}