<div class="flex flex-col items-center h-screen bg-gray-100 shadow-lg absolute w-64">
    <div class="p-4">
    <img alt="Imagen del usuario" src="https://imusic.b-cdn.net/images/item/original/532/0887828045532.jpg?arctic-monkeys-2022-the-car-lp&class=scaled" class="w-16 h-16 rounded-full" />        
    </div>
    <LoginDisplay></LoginDisplay>
    <div class="mt-4">
      <ul class="text-gray-600">
        <li class="mb-4 py-2 px-6 rounded-lg hover:bg-gray-200">
          <label @onclick="@(() => SendRedirectPage.InvokeAsync("/IndexCatalogMusic/Vinyl"))">Vinyl</label>
        </li>
        <li class="mb-4 py-2 px-6 rounded-lg hover:bg-gray-200">
          <label @onclick="@(() => SendRedirectPage.InvokeAsync("/IndexCatalogMusic/Cassette"))">Cassette</label>
        </li>
        <li class="mb-4 py-2 px-6 rounded-lg hover:bg-gray-200">
          <label @onclick="@(() => SendRedirectPage.InvokeAsync("/IndexCatalogMusic/CD"))">CD</label>
        </li>
        <li class="mb-4 py-2 px-6 rounded-lg hover:bg-gray-200">
          <label @onclick="@(() => SendRedirectPage.InvokeAsync("/"))">Accesosrios</label>
        </li>
        <li class="mb-4 py-2 px-6 rounded-lg hover:bg-gray-200">
          <label @onclick="@(() => SendRedirectPage.InvokeAsync("/"))">Libros</label>
        </li>
        <li class="mb-4 py-2 px-6 rounded-lg hover:bg-gray-200">
          <label @onclick="@(() => SendRedirectPage.InvokeAsync("/CreateCatalogMusic"))">Agregar Catálogo</label>
        </li>
      </ul>
    </div>
  </div>

@code {

    [Parameter]  public EventCallback<string> SendRedirectPage { get; set; }
    
}