<div class="flex justify-center space-x-3 p-2 my-2.5">
    <button @onclick="() => ShowModalNewArtist = !ShowModalNewArtist" class="w-36 h-10 border rounded-xl font-semibold text-white bg-blue-600 text-sm">
        Artista
    </button>
    <button @onclick="() => ShowModalNewGenre = !ShowModalNewGenre" class="w-36 h-10 border rounded-xl font-semibold text-white bg-blue-600 text-sm">
        Género
    </button>
    <button @onclick="() => ShowModalNewFormat = !ShowModalNewFormat" class="w-36 h-10 border rounded-xl font-semibold text-white bg-blue-600 text-sm">
        Formato
    </button>
    <button @onclick="() => ShowModalNewPresentation = !ShowModalNewPresentation" class="w-36 h-10 border rounded-xl font-semibold text-white bg-blue-600 text-sm">
        Presentación
    </button>
</div>

<Modal IsOpenModal="ShowModalNewArtist">
    <BodyContent>
        <EditForm EditContext="@_editContextArtist" OnValidSubmit="@CreateArtist">
            <DataAnnotationsValidator />
            <h3 class="font-semibold text-2xl text-center leading-6 text-gray-900" id="modal-title">Crear Nuevo Artista</h3>
            <div class="mt-5">
                <div>
                    <label class="block text-sm font-medium text-gray-700">Nombre</label>
                    <input @bind="NewArtist.Name" type="text" class="w-full border rounded border-gray-300" />
                    <ValidationMessage For="@(() => NewArtist.Name)" />
                </div>
                <div>
                    <label class="block text-sm font-medium text-gray-700">País</label>
                    <input @bind="NewArtist.Country" type="text" class="w-full border rounded border-gray-300" />
                    <ValidationMessage For="@(() => NewArtist.Country)" />
                </div>
            </div>
            <div class="flex flex-col mt-5 h-32 w-full relative cursor-pointer mx-auto justify-center items-center border border-gray-600 border-dotted">
                <InputFile OnChange="@((InputFileChangeEventArgs e) => SaveImage(e, PhotoArtist, PhotoArtistsBase64))" class="absolute opacity-0 w-full h-full" />
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 h-10 absolute">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 15.75l5.159-5.159a2.25 2.25 0 013.182 0l5.159 5.159m-1.5-1.5l1.409-1.409a2.25 2.25 0 013.182 0l2.909 2.909m-18 3.75h16.5a1.5 1.5 0 001.5-1.5V6a1.5 1.5 0 00-1.5-1.5H3.75A1.5 1.5 0 002.25 6v12a1.5 1.5 0 001.5 1.5zm10.5-11.25h.008v.008h-.008V8.25zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
                </svg>
            </div>
            <div class="bg-gray-200 inline-flex px-4 py-3 w-full space-x-3 justify-end sm:px-6">
                <button type="submit" class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto">Aceptar</button>
                <button @onclick="() => ShowModalNewArtist = !ShowModalNewArtist" type="button" class="mt-3 inline-flex w-full justify-center rounded-md bg-red-500 px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-red-400 sm:mt-0 sm:w-auto">Cancelar</button>
            </div>
        </EditForm>
    </BodyContent>
</Modal>

<Modal IsOpenModal="ShowModalNewGenre">
    <BodyContent>
        <EditForm EditContext="@_editContextGenre" OnValidSubmit="@CreateGenre">
            <DataAnnotationsValidator />
            <h3 class="font-semibold text-2xl text-center leading-6 text-gray-900" id="modal-new-genre">Crear Nuevo Genero</h3>
            <div class="mt-5">
                <div>
                    <label class="block text-sm font-medium text-gray-700">Nombre</label>
                    <input @bind="NewGenre.Name" type="text" class="w-full border rounded border-gray-300" />\
                    <ValidationMessage For="@(() => NewGenre.Name)" />
                </div>
            </div>
            <div class="bg-gray-200 inline-flex px-4 py-3 w-full space-x-3 justify-end sm:px-6">
                <button type="submit" class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto">Aceptar</button>
                <button @onclick="() => ShowModalNewGenre = !ShowModalNewGenre" type="button" class="mt-3 inline-flex w-full justify-center rounded-md bg-red-500 px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-red-400 sm:mt-0 sm:w-auto">Cancelar</button>
            </div>
        </EditForm>
    </BodyContent>
</Modal>

<Modal IsOpenModal="ShowModalNewFormat">
    <BodyContent>
        <EditForm EditContext="@_editContextFormat" OnValidSubmit="@CreateFormat">
            <DataAnnotationsValidator />
            <h3 class="font-semibold text-2xl text-center leading-6 text-gray-900" id="modal-new-format">Crear Nuevo Formato</h3>
            <div class="mt-5">
                <div>
                    <label class="block text-sm font-medium text-gray-700">Nombre</label>
                    <input @bind="NewFormat.Name" type="text" class="w-full border rounded border-gray-300" />
                    <ValidationMessage For="@(() => NewFormat.Name)" />
                </div>
            </div>
            <div class="bg-gray-200 inline-flex px-4 py-3 w-full space-x-3 justify-end sm:px-6">
                <button type="submit" class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto">Aceptar</button>
                <button @onclick="() => ShowModalNewFormat = !ShowModalNewFormat" type="button" class="mt-3 inline-flex w-full justify-center rounded-md bg-red-500 px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-red-400 sm:mt-0 sm:w-auto">Cancelar</button>
            </div>
        </EditForm>
    </BodyContent>

</Modal>

<Modal IsOpenModal="ShowModalNewPresentation">
    <BodyContent>
        <EditForm EditContext="@_editContextPresentation" OnValidSubmit="@CreatePresentation">
            <DataAnnotationsValidator />
            <h3 class="font-semibold text-2xl text-center leading-6 text-gray-900" id="modal-new-presentation">Crear Nuevo Presentacion</h3>
            <div class="mt-5">
                <div>
                    <label class="block text-sm font-medium text-slate-700">Formato</label>
                    <select @bind="NewPresentation.FormatId" class="w-full border rounded border">
                        <option value="0">Seleccione una opcion</option>
                        @foreach (var format in Formats)
                        {
                            <option value="@format.Id">@format.Name</option>
                        }
                    </select>
                    <ValidationMessage For="@(() => NewPresentation.FormatId)" />
                </div>
                <div>
                    <label class="block text-sm font-medium text-gray-700">Nombre</label>
                    <input @bind="NewPresentation.Name" type="text" class="w-full border rounded border-gray-300" />
                    <ValidationMessage For="@(() => NewPresentation.Name)" />
                </div>
            </div>
            <div class="bg-gray-200 inline-flex px-4 py-3 w-full space-x-3 justify-end sm:px-6">
                <button type="submit" class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto">Aceptar</button>
                <button @onclick="() => ShowModalNewPresentation = !ShowModalNewPresentation" type="button" class="mt-3 inline-flex w-full justify-center rounded-md bg-red-500 px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-red-400 sm:mt-0 sm:w-auto">Cancelar</button>
            </div>
        </EditForm>
    </BodyContent>
</Modal>