@page "/CreateCatalogMusic"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<PageTitle>Crear Catalogo</PageTitle>
@if (!IsLoading)
{
    <div class="w-full px-10 inline-flex my-5">
        <div class="md:w-2/3 h-full">
            <div class="text-2xl text-center font-semibold my-2.5">
                <h1>Agregar nuevo catálogo</h1>
            </div>
            <hr />
            <CatalogsForMusic SendNewCatalogForMusic="NewCatalogForMusic"></CatalogsForMusic>
            <hr />
            <EditForm EditContext="@_editContextMusicCatalog" OnValidSubmit="@CreateCatalogMusics">
                <DataAnnotationsValidator />
                <div class="flex flex-wrap">
                    <div class="w-full md:w-1/2 md:p-5 space-y-5">
                        <div>
                            <label class="block text-sm font-medium text-gray-700">Título</label>
                            <input @bind="NewMusicCatalog.Title" type="text" class="w-full border rounded border-gray-300" />
                            <ValidationMessage For="@(() => NewMusicCatalog.Title)" />
                        </div>
                        <div>
                            <label class="block text-sm font-medium text-gray-700">Artista</label>
                            <select @bind="NewMusicCatalog.ArtistId" class="w-full border rounded border-gray-300">
                                <option value="0">Seleccione una opción</option>
                                @foreach (var artist in Artists)
                                {
                                    <option value="@artist.Id">@artist.Name</option>
                                }
                            </select>
                            <ValidationMessage For="@(() => NewMusicCatalog.ArtistId)" />
                        </div>
                        <div>
                            <label class="block text-sm font-medium text-gray-700">Género</label>
                            <select @bind="NewMusicCatalog.GenreId" class="w-full border rounded border-gray-300">
                                <option value="0">Seleccione una opción</option>
                                @foreach (var genre in Genres)
                                {
                                    <option value="@genre.Id">@genre.Name</option>
                                }
                            </select>
                            <ValidationMessage For="@(() => NewMusicCatalog.GenreId)" />
                        </div>
                        <div>
                            <label class="block text-sm font-medium text-gray-700">Origen</label>
                            <input @bind="NewMusicCatalog.Country" type="text" class="w-full border rounded border-gray-300" />
                            <ValidationMessage For="@(() => NewMusicCatalog.Country)" />
                        </div>
                        <div>
                            <label class="block text-sm font-medium text-gray-700">Formato</label>
                            <select @bind="NewMusicCatalog.FormatId" class="w-full border rounded border-gray-300">
                                <option value="0">Seleccione una opción</option>
                                @foreach (var format in Formats)
                                {
                                    <option value="@format.Id">@format.Name</option>
                                }
                            </select>
                            <ValidationMessage For="@(() => NewMusicCatalog.FormatId)" />
                        </div>
                        <div>
                            <label class="block text-sm font-medium text-gray-700">Presentación</label>
                            <select @bind="NewMusicCatalog.PresentationId" class="w-full border rounded border-gray-300">
                                <option value="0">Seleccione una opción</option>
                                @foreach (var presentation in Presentations)
                                {
                                    <option value="@presentation.Id">@presentation.Name</option>
                                }
                            </select>
                            <ValidationMessage For="@(() => NewMusicCatalog.PresentationId)" />
                        </div>
                    </div>
                    <div class="w-full md:w-1/2 md:p-5 space-y-5">
                        <div>
                            <label class="block text-sm font-medium text-gray-700">Etiqueta</label>
                            <input @bind="NewMusicCatalog.Label" type="text" class="w-full border rounded border-gray-300" />
                            <ValidationMessage For="@(() => NewMusicCatalog.Label)" />
                        </div>
                        <div>
                            <label class="block text-sm font-medium text-gray-700">Año</label>
                            <input @bind="NewMusicCatalog.Year" type="number" class="w-full border rounded border-gray-300" />
                            <ValidationMessage For="@(() => NewMusicCatalog.Year)" />
                        </div>
                        <div>
                            <label class="block text-sm font-medium text-gray-700">Matriz</label>
                            <input @bind="NewMusicCatalog.Matrix" type="text" class="w-full border rounded border-gray-300" />
                            <ValidationMessage For="@(() => NewMusicCatalog.Matrix)" />
                        </div>
                        <div>
                            <label class="block text-sm font-medium text-gray-700">Estado de portada</label>
                            <input @bind="NewMusicCatalog.StatusCover" type="number" class="w-full border rounded border-gray-300" />
                            <ValidationMessage For="@(() => NewMusicCatalog.StatusCover)" />
                        </div>
                        <div>
                            <label class="block text-sm font-medium text-gray-700">Estado del disco</label>
                            <input @bind="NewMusicCatalog.StatusGeneral" type="number" class="w-full border rounded border-gray-300" />
                            <ValidationMessage For="@(() => NewMusicCatalog.StatusGeneral)" />
                        </div>
                        <div>
                            <label class="block text-sm font-medium text-gray-700">Precio</label>
                            <input @bind="NewMusicCatalog.Price" type="number" class="w-full border rounded border-gray-300" />
                        </div>
                        <div>
                            <label class="block text-sm font-medium text-gray-700">Descuento</label>
                            <input @bind="NewMusicCatalog.Discount" type="number" class="w-full border rounded border-gray-300" />
                        </div>
                    </div>

                </div>
                <div class="block space-y-2 mt-3">
                    <button disabled="@(!IsAnyImage)" type="submit" class="w-full h-10 border rounded-xl font-semibold text-white @(IsAnyImage ? "bg-green-600" : "bg-gray-300")">Agregar</button>
                </div>
            </EditForm>
        </div>
        <div class="border-1 md:w-1/3 mx-auto">
            <ImagesManage Type="TypeImageWrapper.Music" SetIsAnyImage="SetIsAnyImageForCatalog"></ImagesManage>
        </div>
    </div>
}