@page "/CatalogMusicDetail/{IdMusicCatalog:int}"

@if (MusicCatalog is not null)
{
    <div class="md:flex w-full p=2 md:p-5">
        <div class="md:w-1/2 md:grid md:justify-items-center mx-auto">
            @if (MusicCatalog.Images.Any())
            {
                <img src="@MusicCatalog.Images.First().Url" class="rounded-lg" alt="" />            
                <div class="w-full border-t inline-flex p-5 space-x-3">
                    @foreach (var image in MusicCatalog.Images)
                    {
                        <img class="h-20 w-20" src="@(image.Url ??  "https://erodingwinds.com/cdn/shop/files/4151748-2908234_540x.jpg?v=1702157989")" alt="Imagen del disco" />
                    }                
                </div>
            }
            <img src="https://erodingwinds.com/cdn/shop/files/4151748-2908234_540x.jpg?v=1702157989" class="rounded-lg" alt="" />
        </div>
        <div class="md:w-1/2 p-2 md:p-5">
            <div class=" space-y-1">
                <h1 class="title-xl">@MusicCatalog.Title-@MusicCatalog.Artist.Name</h1>
                <p class="text-lg">
                    <span class="font-semibold">Precio:</span>$@MusicCatalog.Price.ToString("#,##0.00")
                </p>
                <p class="text-lg">
                    <span class="font-semibold">Label:</span>@MusicCatalog.Label
                </p>
                <p class="text-lg">
                    <span class="font-semibold">Pais:</span>@MusicCatalog.Country
                </p>
            </div>
            <div class="mt-7">
                <h1 class="title-lg">Descripcion</h1>
                <p>
                    
                </p>
            </div>
            <div class="items-center mt-7">
                <span class="text-gray-600 font-semibold">Estado General:</span>
                <div class="flex text-green-500">
                    @foreach(var item in Enumerable.Range(0, MusicCatalog.StatusGeneral))
                    {
                        <span class="w-10 bg-gradient-to-r from-green-500 to-green-400">.</span>         
                    }
                </div>
                <span class="text-gray-600 font-semibold">Estado Portada:</span>
                <div class="flex text-green-500">
                    @foreach (var item in Enumerable.Range(0, MusicCatalog.StatusCover))
                    {
                        <span class="w-10 bg-gradient-to-r from-green-500 to-green-400">.</span>
                    }
                </div>
            </div>
            <div class="mt-7">
                <p class="font-semibold">Cantidad:</p>
                <div class="flex border-2 h-10 max-w-max">
                    <button class="w-1/3 h-full bg-gray-200 hover:bg-gray-300 flex justify-center py-3">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                             stroke="currentColor" class="w-4 h-4">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M5 12h14" />
                        </svg>
                    </button>
                    <input id="cantidad" class="w-1/3 text-center bg-gray-100" type="text" value="1" />
                    <button class="w-1/3 h-full bg-gray-200 hover:bg-gray-300 flex justify-center py-3">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                             stroke="currentColor" class="w-4 h-4">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                        </svg>
                    </button>
                </div>
                <div class="flex-col space-y-2">
                    <button @onclick="AddItemShopCart"
                            class="w-full mt-3 h-10 border rounded-xl font-semibold text-white bg-blue-600 hover:bg-blue-500 hover:border-blue-600 text-sm">
                        Agregar al carrito
                    </button>
                    <button @onclick="AddItemShopCart"
                            class="w-full mt-3 h-10 border rounded-xl font-semibold text-white bg-green-600 hover:bg-green-500 hover:border-green-600 text-sm">
                        Comprar ahora
                    </button>
                </div>
            </div>
        </div>
    </div>
}

@if (CatalogMusics.Any())
{
    <div class="my-3 mx-2">
        <h1 class="title-xl">Novedades</h1>
        <hr class="border-gray-300 my-2" />
        <div class="overflow-y-auto">
            <div class="inline-flex space-x-4 px-3">
                @foreach (var item in CatalogMusics)
                {
                    <CardCatalogMusic MusicCatalog="item"></CardCatalogMusic>
                }
            </div>
        </div>
    </div>
}

@if (CatalogMusics.Any())
{
    <div class="my-3 mx-2">
        <h1 class="title-xl">Novedades</h1>
        <hr class="border-gray-300 my-2" />
        <div class="overflow-y-auto">
            <div class="inline-flex space-x-4 px-3">
                @foreach (var item in CatalogMusics)
                {
                    <CardCatalogMusic MusicCatalog="item"></CardCatalogMusic>
                }
            </div>
        </div>
    </div>
}

@if (CatalogMusics.Any())
{
    <div class="my-3 mx-2">
        <h1 class="title-xl">Novedades</h1>
        <hr class="border-gray-300 my-2" />
        <div class="overflow-y-auto">
            <div class="inline-flex space-x-4 px-3">
                @foreach (var item in CatalogMusics)
                {
                    <CardCatalogMusic MusicCatalog="item"></CardCatalogMusic>
                }
            </div>
        </div>
    </div>
}