@page "/EditCatalogMusic/{MusicCatalogId:int}"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<PageTitle>Crear Catalogo</PageTitle>
@if (!IsLoading)
{
    <div class="w-full px-10 inline-flex my-5">
        <div class="md:w-2/3 h-full">
            <h1 class="title-xl">Agregar nuevo catálogo</h1>
            <hr />
            <CatalogsForMusic SendNewCatalogForMusic="NewCatalogForMusic"></CatalogsForMusic>
            <hr />
            <EditForm EditContext="@_editContextMusicCatalog" OnValidSubmit="@EditCatalogMusics">
                <DataAnnotationsValidator />
                <div class="flex flex-wrap">
                    <div class="w-full md:w-1/2 md:p-5 space-y-5">
                        <div>
                            <label class="block text-sm font-medium text-gray-700">Título</label>
                            <input @bind="EditMusicCatalog.Title" type="text" class="w-full border rounded border-gray-300" />
                            <ValidationMessage For="@(() => EditMusicCatalog.Title)" />
                        </div>
                        <div>
                            <label class="block text-sm font-medium text-gray-700">Artista</label>
                            <select @bind="EditMusicCatalog.ArtistId" class="w-full border rounded border-gray-300">
                                <option value="0">Seleccione una opción</option>
                                @foreach (var artist in Artists)
                                {
                                    <option value="@artist.Id">@artist.Name</option>
                                }
                            </select>
                            <ValidationMessage For="@(() => EditMusicCatalog.ArtistId)" />
                        </div>
                        <div>
                            <label class="block text-sm font-medium text-gray-700">Género</label>
                            <select @bind="EditMusicCatalog.GenreId" class="w-full border rounded border-gray-300">
                                <option value="0">Seleccione una opción</option>
                                @foreach (var genre in Genres)
                                {
                                    <option value="@genre.Id">@genre.Name</option>
                                }
                            </select>
                            <ValidationMessage For="@(() => EditMusicCatalog.GenreId)" />
                        </div>
                        <div>
                            <label class="block text-sm font-medium text-gray-700">Origen</label>
                            <input @bind="EditMusicCatalog.Country" type="text" class="w-full border rounded border-gray-300" />
                            <ValidationMessage For="@(() => EditMusicCatalog.Country)" />
                        </div>
                        <div>
                            <label class="block text-sm font-medium text-gray-700">Formato</label>
                            <select @bind="EditMusicCatalog.FormatId" class="w-full border rounded border-gray-300">
                                <option value="0">Seleccione una opción</option>
                                @foreach (var format in Formats)
                                {
                                    <option value="@format.Id">@format.Name</option>
                                }
                            </select>
                            <ValidationMessage For="@(() => EditMusicCatalog.FormatId)" />
                        </div>
                        <div>
                            <label class="block text-sm font-medium text-gray-700">Presentación</label>
                            <select @bind="EditMusicCatalog.PresentationId" class="w-full border rounded border-gray-300">
                                <option value="0">Seleccione una opción</option>
                                @foreach (var presentation in Presentations)
                                {
                                    <option value="@presentation.Id">@presentation.Name</option>
                                }
                            </select>
                            <ValidationMessage For="@(() => EditMusicCatalog.PresentationId)" />
                        </div>
                    </div>
                    <div class="w-full md:w-1/2 md:p-5 space-y-5">
                        <div>
                            <label class="block text-sm font-medium text-gray-700">Etiqueta</label>
                            <input @bind="EditMusicCatalog.Label" type="text" class="w-full border rounded border-gray-300" />
                            <ValidationMessage For="@(() => EditMusicCatalog.Label)" />
                        </div>
                        <div>
                            <label class="block text-sm font-medium text-gray-700">Año</label>
                            <input @bind="EditMusicCatalog.Year" type="number" class="w-full border rounded border-gray-300" />
                            <ValidationMessage For="@(() => EditMusicCatalog.Year)" />
                        </div>
                        <div>
                            <label class="block text-sm font-medium text-gray-700">Matriz</label>
                            <input @bind="EditMusicCatalog.Matrix" type="text" class="w-full border rounded border-gray-300" />
                            <ValidationMessage For="@(() => EditMusicCatalog.Matrix)" />
                        </div>
                        <div>
                            <label class="block text-sm font-medium text-gray-700">Estado de portada</label>
                            <input @bind="EditMusicCatalog.StatusCover" type="number" class="w-full border rounded border-gray-300" />
                            <ValidationMessage For="@(() => EditMusicCatalog.StatusCover)" />
                        </div>
                        <div>
                            <label class="block text-sm font-medium text-gray-700">Estado del disco</label>
                            <input @bind="EditMusicCatalog.StatusGeneral" type="number" class="w-full border rounded border-gray-300" />
                            <ValidationMessage For="@(() => EditMusicCatalog.StatusGeneral)" />
                        </div>
                        <div>
                            <label class="block text-sm font-medium text-gray-700">Precio</label>
                            <input @bind="EditMusicCatalog.Price" type="number" class="w-full border rounded border-gray-300" />
                        </div>
                        <div>
                            <label class="block text-sm font-medium text-gray-700">Descuento</label>
                            <input @bind="EditMusicCatalog.Discount" type="number" class="w-full border rounded border-gray-300" />
                        </div>
                    </div>
                </div>
                <div class="block space-y-2 mt-3">
                    <button disabled="@(!IsAnyImage)" type="submit" class="w-full h-10 border rounded-xl font-semibold text-white @(IsAnyImage ? "bg-yellow-300" : "bg-gray-300")">Guardar cambios</button>
                </div>
            </EditForm>
        </div>
        <div class="border-1 md:w-1/3 mx-auto">
            <ImagesManage Type="TypeImageWrapper.Music" Images="EditMusicCatalog.Images" SetIsAnyImage="SetIsAnyImageForCatalog"></ImagesManage>
        </div>
    </div>
}