@page "/ManageCatalogMusic"

@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization

<div class="w-full px-10 my-5 px-24">
    <h3 class="text-4xl my-5">Administrar Catalogo de Musica</h3>
    <table class="min-w-full">
        <thead>
            <tr>
                <th class="px-6 py-3 bg-gray-300 text-left text-xs leading-4 font-medium text-gray-700 uppercase tracking-wider">
                    Titulo
                </th>
                <th class="px-6 py-3 bg-gray-300 text-left text-xs leading-4 font-medium text-gray-700 uppercase tracking-wider">
                    Artista
                </th>
                <th class="px-6 py-3 bg-gray-300 text-left text-xs leading-4 font-medium text-gray-700 uppercase tracking-wider">
                    Genero
                </th>
                <th class="px-6 py-3 bg-gray-300 text-left text-xs leading-4 font-medium text-gray-700 uppercase tracking-wider">
                    Formato
                </th>
                <th class="px-6 py-3 bg-gray-300 text-left text-xs leading-4 font-medium text-gray-700 uppercase tracking-wider">
                    Precio
                </th>
                <th class="px-6 py-3 bg-gray-300 text-left text-xs leading-4 font-medium text-gray-700 uppercase tracking-wider">
                    Estatus
                </th>
                <th class="px-6 py-3 bg-gray-300 text-left text-xs leading-4 font-medium text-gray-700 uppercase tracking-wider">
                    Acciones
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in CatalogMusics)
            {
                <tr>
                    <td class="px-6 py-4 whitespace-no-wrap">
                        @item.Title
                    </td>
                    <td class="px-6 py-4 whitespace-no-wrap">
                        @item.Artist?.Name
                    </td>
                    <td class="px-6 py-4 whitespace-no-wrap">
                        @item.Genre?.Name
                    </td>
                    <td class="px-6 py-4 whitespace-no-wrap">
                        @item.Format?.Name - @item.Presentation?.Name
                    </td>
                    <td class="px-6 py-4 whitespace-no-wrap">
                        $@item.Price.ToString("#,##0.00")
                    </td>
                    @if (!item.ActiveInStripe)
                    {
                        <td class="px-6 py-4 whitespace-no-wrap">
                            <button @onclick="@(() => ActiveCatalogMusicInStripe(item))" class="bg-yellow-300 border rounded-xl p-2">Activar en Stripe</button>
                        </td>
                    }
                    else if (item.Sold)
                    {
                        <td class="px-6 py-4 whitespace-no-wrap">
                            <span class="bg-gray-300 border rounded-xl p-2">Vendido</span>
                        </td>
                    }
                    else
                    {
                        <td class="px-6 py-4 whitespace-no-wrap">
                            <span class="bg-green-300 border rounded-xl p-2">Disponible</span>
                        </td>
                    }
                    <td class="flex flex-col space-y-1 px-6 py-4 whitespace-no-wrap">
                        @if (item.Sold)
                        {
                            <span>Ver detalles</span>
                        }
                        else
                        {
                            <button class="border-2 border-blue-800 bg-blue-400 rounded-2">Fotos</button>
                            <button @onclick="@(() => EditMusicCatalog(item.Id))" class="border-2 border-yellow-800 bg-yellow-400 rounded-2">Editar</button>
                            <button class="border-2 border-red-800 bg-red-400 rounded-2">Eliminar</button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>